@charset "UTF-8";
/*======================================
base
======================================*/
/*==========================================================================
# reset - ブラウザの差異や不要なスタイルを無くすためのスタイル
========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, small, button, time, figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/*==================================
カラー
===================================*/
/*==================================
フォント
===================================*/
/*==================================
レイアウト幅
===================================*/
/*==================================
余白
===================================*/
/*==================================
ブレイクポイント
===================================*/
/*==================================
階層(z-index)
===================================*/
/*==================================
カラー
===================================*/
/*==================================
フォント
===================================*/
/*==================================
レイアウト幅
===================================*/
/*==================================
余白
===================================*/
/*==================================
ブレイクポイント
===================================*/
/*==================================
階層(z-index)
===================================*/
/*==================================
カラー
===================================*/
/*==================================
フォント
===================================*/
/*==================================
レイアウト幅
===================================*/
/*==================================
余白
===================================*/
/*==================================
ブレイクポイント
===================================*/
/*==================================
階層(z-index)
===================================*/
body {
  font-size: 16px;
  font-family: "Montserrat", "游ゴシック体", sans-serif;
  padding-top: 83px;
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 68px;
  }
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  color: #FFFFFF;
}

/*======================================
layout
======================================*/
/*==================================
ヘッダー
===================================*/
.ly_header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1280px;
  height: 83px;
  -webkit-transition: ease .5s;
  transition: ease .5s;
  z-index: 20;
  /* ドロワーが開いた際に一緒にスライド */
}

@media screen and (max-width: 767px) {
  .ly_header {
    height: 68px;
  }
}

.ly_header.open {
  margin-left: -300px;
}

.ly_header_inner {
  width: 100%;
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 767px) {
  .ly_header_inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/*==================================
メインビジュアル
===================================*/
.ly_mainVisual {
  position: relative;
  background: url(../img/mv.png) no-repeat 25% center;
  width: 100%;
  max-width: 1280px;
  height: 565px;
  background-size: cover;
  -webkit-transition: ease .5s;
  transition: ease .5s;
  /* ドロワーが開いた際に一緒にスライド */
}

.ly_mainVisual.open {
  margin-left: -300px;
}

.ly_mainVisual_inner {
  width: 100%;
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 767px) {
  .ly_mainVisual_inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/*==================================
Q&A
===================================*/
.ly_qa {
  width: 100%;
  max-width: 1280px;
  background: url(../../img/qa-bg.png) no-repeat;
  padding-bottom: 120px;
}

@media screen and (max-width: 767px) {
  .ly_qa {
    padding-bottom: 60px;
  }
}

/*==================================
footer
===================================*/
.ly_footer {
  width: 100%;
  max-width: 1280px;
  background-color: #3E3E3E;
  padding-top: 60px;
  padding-bottom: 60px;
}

.ly_footer_inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .ly_footer_inner {
    display: block;
  }
}

/*==================================
共通
===================================*/
.ly_main {
  width: 100%;
  max-width: 1280px;
  background-color: #F3F3F3;
  padding-top: 120px;
}

@media screen and (max-width: 767px) {
  .ly_main {
    padding-top: 60px;
  }
}

.ly_cont {
  width: 100%;
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 767px) {
  .ly_cont {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/*======================================
module(block)
======================================*/
.bl_headerUnit {
  display: flex;
}

.bl_logo {
  display: none;
}

@media screen and (max-width: 767px) {
  .bl_logo {
    display: block;
    color: #3E3E3E;
    line-height: 68px;
    white-space: nowrap;
    width: 160px;
  }
}

.bl_logo a {
  color: #3E3E3E;
  font-size: 23px;
  font-weight: bold;
}

.bl_gnav {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .bl_gnav {
    margin-right: 0;
  }
}

.bl_gnav_list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .bl_gnav_list {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    background-color: #FFFFFF;
    width: 300px;
    height: 100vh;
    text-align: center;
    -webkit-transition: ease .5s;
    transition: ease .5s;
    z-index: 40;
  }
}

.bl_gnav_list.open {
  /* 裏側に隠していたリストを登場させる */
  margin-left: -300px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 300px;
  /*　スクロールしながら登場させる */
  transform: translateZ(0);
}

.bl_gnav_item {
  padding-left: 20px;
}

@media screen and (max-width: 767px) {
  .bl_gnav_item {
    padding-left: 0;
  }
}

.bl_gnav_item a {
  display: inline-block;
  text-decoration: none;
}

.bl_gnav_item {
  margin-right: 40px;
  line-height: 83px;
}

@media screen and (max-width: 767px) {
  .bl_gnav_item {
    font-size: 18px;
    padding-top: 32px;
    margin-right: 0;
    line-height: 1;
  }
  .bl_gnav_item:first-child {
    padding-top: 161px;
  }
}

.bl_gnav_item:last-child {
  margin-right: 0;
}

.bl_gnav_item a {
  position: relative;
  color: #3E3E3E;
}

.bl_gnav_item a::after {
  content: '';
  position: absolute;
  bottom: 24px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #707070;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  .bl_gnav_item a::after {
    bottom: -6px;
  }
}

.bl_gnav_item a:hover::after {
  width: 100%;
}

.bl_mainVisual_body {
  width: 50%;
  margin-left: auto;
  padding-top: 153px;
}

@media screen and (max-width: 767px) {
  .bl_mainVisual_body {
    width: 100%;
    margin-left: 0;
  }
}

.bl_mainVisual_ttl {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
}

@media screen and (max-width: 1199px) {
  .bl_mainVisual_ttl {
    font-size: 24px;
  }
}

.bl_mainVisual_text {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 40px;
}

@media screen and (max-width: 1199px) {
  .bl_mainVisual_text {
    font-size: 16px;
    margin-top: 32px;
  }
}

@media screen and (max-width: 767px) {
  .bl_mainVisual_text {
    font-size: 14px;
  }
}

.bl_newsUnit {
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .bl_newsUnit {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: -100px;
  }
}

.bl_news {
  position: relative;
  display: flex;
  align-items: center;
  color: #3E3E3E;
  border-top: 1px solid #CECDCD;
  border-bottom: 1px solid #CECDCD;
  padding-top: 38px;
  padding-bottom: 38px;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  .bl_news {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.bl_news::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: url(../img/news/news-arrow-1.png) no-repeat center center;
  width: 43px;
  height: 46px;
}

@media screen and (max-width: 767px) {
  .bl_news {
    display: block;
    text-align: left;
  }
}

.bl_news:hover {
  background-color: rgba(73, 115, 255, 0.1);
}

.bl_news_left {
  display: flex;
  align-items: center;
  width: 259px;
}

.bl_news_date {
  margin-right: 40px;
  width: 98px;
}

@media screen and (max-width: 767px) {
  .bl_news_date {
    display: inline-block;
    font-size: 14px;
    width: 76px;
    margin-right: 24px;
  }
}

.bl_news_text {
  width: calc(100% - 98px - 40px - 121px);
  margin-left: 40px;
  margin-right: 83px;
}

@media screen and (max-width: 767px) {
  .bl_news_text {
    font-size: 14px;
    width: calc(100% - 55px);
    margin: 0;
    margin-top: 12px;
  }
}

.bl_serviceBg {
  position: relative;
  background-color: #3E3E3E;
  height: 400px;
}

@media screen and (max-width: 767px) {
  .bl_serviceBg {
    height: 480px;
  }
}

.bl_serviceUnit {
  position: absolute;
  top: 164px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 767px) {
  .bl_serviceUnit {
    top: 110px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.bl_services {
  display: flex;
  background-color: #FFFFFF;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  width: 100%;
  max-width: 960px;
  padding: 60px 45px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .bl_services {
    display: block;
    padding: 40px 16px;
  }
}

.bl_service {
  width: 230px;
  margin-right: 90px;
}

@media screen and (max-width: 767px) {
  .bl_service {
    width: 100%;
    margin-top: 56px;
    margin-right: 0;
  }
  .bl_service:first-child {
    margin-top: 0;
  }
}

.bl_service:last-child {
  margin-right: 0;
}

.bl_service_img {
  text-align: center;
}

.bl_service_ttl {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  margin-top: 18px;
}

.bl_service_text {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 20px;
}

.bl_resultsUnit {
  padding-left: 60px;
}

@media screen and (max-width: 767px) {
  .bl_resultsUnit {
    padding-left: 0;
  }
}

.bl_resultsUnit .swiper-container {
  cursor: pointer;
  padding-bottom: 60px;
}

.bl_result {
  width: 100%;
  max-width: 400px;
}

@media screen and (max-width: 767px) {
  .bl_result {
    width: 100%;
    max-width: 274px;
    padding-left: 16px;
  }
}

.bl_result_body {
  background-color: #FFFFFF;
  padding: 16px;
}

@media screen and (max-width: 767px) {
  .bl_result_body {
    padding: 12px;
  }
}

.bl_result_ttl {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .bl_result_ttl {
    font-size: 14px;
  }
}

.bl_result_text {
  margin-top: 16px;
}

@media screen and (max-width: 767px) {
  .bl_result_text {
    font-size: 12px;
  }
}

.bl_result_pagination {
  text-align: left;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .bl_result_pagination {
    text-align: center;
  }
}

.swiper-pagination-bullet {
  position: relative;
  background-color: transparent;
  opacity: 1;
  width: 20px;
  height: 20px;
}

.swiper-pagination-bullet::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  border-radius: 100%;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  position: relative;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.swiper-pagination-bullet-active::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  border-radius: 100%;
  width: 12px;
  height: 12px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0;
}

.bl_priceTable {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .bl_priceTable {
    max-width: 100%;
  }
}

.bl_price {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.bl_price th {
  color: #FFFFFF;
  background-color: #3E3E3E;
  border-bottom: 1px solid #FFFFFF;
  padding: 16px 100px;
}

@media screen and (max-width: 767px) {
  .bl_price th {
    padding: 16px;
  }
}

.bl_price th:first-child {
  width: 262px;
}

@media screen and (max-width: 767px) {
  .bl_price th:first-child {
    width: 30%;
  }
}

.bl_price td {
  background-color: #FFFFFF;
  border: 1px solid #707070;
  font-weight: bold;
  padding-left: 40px;
}

@media screen and (max-width: 767px) {
  .bl_price td {
    padding-left: 16px;
  }
}

.bl_price_text {
  font-size: 12px;
  margin-top: 12px;
}

@media screen and (max-width: 767px) {
  .bl_price_text {
    margin-top: 8px;
  }
}

.bl_comment_container {
  position: relative;
}

@media screen and (max-width: 1199px) {
  .bl_comment_container {
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .bl_comment_container {
    margin-top: 0;
  }
}

.bl_bgcComment {
  background-color: #3E3E3E;
  width: 76.56%;
  height: 576px;
}

@media screen and (max-width: 1199px) {
  .bl_bgcComment {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .bl_bgcComment {
    height: 425px;
  }
}

.bl_commentUnit {
  position: absolute;
  top: -135px;
  display: flex;
  align-items: center;
  width: 100vw;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 1199px) {
  .bl_commentUnit {
    top: -60px;
  }
}

@media screen and (max-width: 767px) {
  .bl_commentUnit {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.bl_comment_left {
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  width: 55.5%;
  padding: 120px 60px;
}

@media screen and (max-width: 1199px) {
  .bl_comment_left {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  .bl_comment_left {
    padding: 40px 20px;
  }
}

.bl_comment {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .bl_comment {
    margin-top: 40px;
    align-items: stretch;
  }
}

.bl_comment:first-of-type {
  margin-top: 0;
}

.bl_comment_img {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 767px) {
  .bl_comment_img {
    width: 60px;
    height: 60px;
  }
}

.bl_comment_text {
  width: calc(100% - 100px - 32px);
  margin-left: 32px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .bl_comment_text {
    font-size: 14px;
    margin-left: 20px;
    width: calc(100% - 60px - 20px);
    line-height: 1.4;
  }
}

.bl_comment_right {
  width: 44.5%;
}

@media screen and (max-width: 1199px) {
  .bl_comment_right {
    display: none;
  }
}

.bl_qaUnit {
  width: 100%;
  max-width: 612px;
  margin-left: auto;
  margin-right: auto;
}

.bl_qa {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-top: 32px;
  padding: 16px;
}

.bl_qa:first-child {
  margin-top: 0;
}

.bl_qa_que {
  position: relative;
  cursor: pointer;
  margin-left: 40px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .bl_qa_que {
    font-size: 16px;
  }
}

.bl_qa_que::before {
  content: 'Q';
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
  color: #FFFFFF;
  background-color: #3B69FF;
  border-radius: 100%;
  text-align: center;
  width: 24px;
  height: 24px;
}

.bl_qa_ans {
  display: none;
  background-color: rgba(59, 105, 255, 0.2);
  border-radius: 4px;
  margin-top: 20px;
  padding: 16px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .bl_qa_ans {
    font-size: 14px;
  }
}

.bl_bgAccess {
  background-color: #3E3E3E;
  width: 100%;
  max-width: 980px;
  padding-top: 60px;
  padding-left: 60px;
  padding-bottom: 120px;
}

@media screen and (max-width: 1199px) {
  .bl_bgAccess {
    max-width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 36.8%;
  }
}

.bl_access_body {
  color: #FFFFFF;
  width: 100%;
  max-width: 314px;
}

@media screen and (max-width: 1199px) {
  .bl_access_body {
    max-width: 100%;
  }
}

.bl_access_text {
  line-height: 1.5;
}

.bl_access_mapUnit {
  position: relative;
}

@media screen and (max-width: 1199px) {
  .bl_access_mapUnit {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .bl_access_mapUnit .bl_access_gbtn {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 84.25%;
  }
}

.bl_access_map {
  position: relative;
  height: 0;
  width: 0;
}

@media screen and (max-width: 1199px) {
  .bl_access_map {
    width: 100%;
    margin-left: 0;
    padding-top: 71.62%;
    margin-top: 24px;
  }
}

.bl_access_map iframe {
  position: absolute;
  top: -264px;
  left: 414px;
}

@media screen and (max-width: 1199px) {
  .bl_access_map iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.bl_bgContact {
  width: 100%;
  background: url(../img/contact/contact-bg.png) no-repeat center center;
  padding: 60px 160px;
}

@media screen and (max-width: 1199px) {
  .bl_bgContact {
    padding: 40px;
  }
}

@media screen and (max-width: 767px) {
  .bl_bgContact {
    padding: 40px 16px;
  }
}

.bl_contact_header {
  background: url(../img/contact/contact1.png) no-repeat center center;
  color: #FFFFFF;
  border-radius: 12px;
  text-align: center;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .bl_contact_header {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .bl_contact_header {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.bl_contact_header .bl_contact_subTitle {
  margin-top: 16px;
}

@media screen and (max-width: 767px) {
  .bl_contact_header .bl_contact_subTitle {
    font-size: 14px;
    text-align: left;
  }
}

.bl_contact {
  background-color: #FFFFFF;
  border-radius: 0 0 12px 12px;
  padding: 60px 120px;
}

@media screen and (max-width: 1199px) {
  .bl_contact {
    padding: 40px 80px;
  }
}

@media screen and (max-width: 767px) {
  .bl_contact {
    padding: 40px 16px;
  }
}

.selectBox {
  position: relative;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  width: 178px;
  padding: 12px;
  margin-left: 60px;
}

@media screen and (max-width: 1199px) {
  .selectBox {
    display: block;
    width: 100%;
    margin-top: 16px;
    margin-left: 0;
  }
}

.selectBox option:first-child {
  display: none;
}

.selectBox::-ms-expand {
  display: none;
}

.selectBox:hover {
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
}

.selectBox:focus {
  box-shadow: none;
  outline: none;
}

.bl_contact_selectBox {
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 1199px) {
  .bl_contact_selectBox {
    display: block;
  }
}

.bl_contact_selectBox::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 12px;
  width: 8px;
  height: 8px;
  border-bottom: solid 2px #3E3E3E;
  border-right: solid 2px #3E3E3E;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -8px;
}

@media screen and (max-width: 1199px) {
  .bl_contact_selectBox::after {
    margin-top: 8px;
  }
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: none;
  border-bottom: 1px solid #707070;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  width: 532px;
  margin-left: auto;
}

@media screen and (max-width: 1199px) {
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    margin-top: 16px;
  }
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  border-bottom: 1px solid #3B69FF;
  box-shadow: none;
  box-shadow: 0 2px 0 rgba(73, 115, 255, 0.5);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-bottom: 1px solid #3B69FF;
  box-shadow: none;
  box-shadow: 0 2px 0 rgba(73, 115, 255, 0.5);
  outline: none;
}

.bl_contact_text,
.bl_contact_email {
  display: flex;
  margin-top: 32px;
}

@media screen and (max-width: 1199px) {
  .bl_contact_text,
  .bl_contact_email {
    display: block;
  }
}

.bl_contact_radio {
  margin-top: 32px;
}

.bl_contact_radio .bl_contact_radioTitle {
  margin-right: 176px;
}

@media screen and (max-width: 1199px) {
  .bl_contact_radio .bl_contact_radioTitle {
    display: block;
  }
}

input[type="radio"] {
  display: none;
}

.radio + span {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-right: 40px;
}

@media screen and (max-width: 1199px) {
  .radio + span {
    margin-top: 16px;
    margin-left: 20px;
  }
}

.radio + span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translate(-100%, -50%);
  display: block;
  border: 1px solid #707070;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.radio + span:hover::before {
  border: 1px solid #3B69FF;
}

.radio + span:active::before {
  background-color: rgba(73, 115, 255, 0.5);
}

.radio + span::after {
  content: '';
  position: absolute;
  top: 50%;
  /* (外側width-内側width)÷ 2 + 外側left */
  left: -11px;
  transform: translate(-100%, -50%);
  background: #3B69FF;
  border: 1px solid transparent;
  border-radius: 50%;
  /* 外側の円の半分にする */
  width: 6px;
  height: 6px;
  opacity: 0;
}

.radio:checked + span::after {
  opacity: 1;
}

.bl_contact_message {
  margin-top: 32px;
}

textarea {
  width: 100%;
  border: 1px solid #707070;
  height: 200px;
  margin-top: 8px;
}

@media screen and (max-width: 1199px) {
  textarea {
    height: 180px;
  }
}

textarea:hover {
  border: 1px solid #3B69FF;
  box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
}

textarea:focus {
  border: 1px solid #3B69FF;
  box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
  outline: none;
}

.bl_contact_check {
  margin-top: 32px;
}

input[type="checkbox"] {
  display: none;
}

.bl_contact_personal + span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 40px;
}

.bl_contact_personal + span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
}

.bl_contact_personal + span:hover::before {
  border: 1px solid #3B69FF;
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
}

.bl_contact_personal + span:active::before {
  border: 1px solid #3B69FF;
  background-color: rgba(73, 115, 255, 0.5);
}

.bl_contact_personal + span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  width: 12px;
  height: 6px;
  border-bottom: 2px solid #3B69FF;
  border-left: 2px solid #3B69FF;
  transform: rotate(-50deg);
  margin-top: -6px;
  opacity: 0;
}

.bl_contact_personal:checked + span::after {
  opacity: 1;
}

.bl_footer_icons {
  text-align: center;
}

.bl_footer_facebook {
  font-size: 36px;
  opacity: 0.6;
}

.bl_footer_twitter {
  display: none;
  opacity: 0;
}

@media screen and (max-width: 1199px) {
  .bl_footer_twitter {
    opacity: 1;
    font-size: 36px;
    opacity: 0.6;
    margin-right: 50px;
  }
}

.bl_footer_text {
  margin-top: 24px;
}

@media screen and (max-width: 1199px) {
  .bl_footer_text {
    text-align: center;
  }
}

.bl_footer_text:first-of-type {
  margin-top: 40px;
}

.bl_footer_logo {
  font-size: 40px;
  font-weight: bold;
}

@media screen and (max-width: 1199px) {
  .bl_footer_logo {
    margin-top: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .bl_footer_logo {
    font-size: 32px;
  }
}

.bl_footer_copyRight {
  font-size: 12px;
  text-align: right;
  margin-top: 10px;
  opacity: 0.6;
}

@media screen and (max-width: 1199px) {
  .bl_footer_copyRight {
    margin-top: 12px;
    text-align: center;
  }
}

/*======================================
module(element)
======================================*/
/*==================================
ボタン
===================================*/
.el_btn {
  display: inline-block;
  color: #3E3E3E;
  border: 1px solid #707070;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 80px;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 1199px) {
  .el_btn {
    padding: 16px 80px;
  }
}

.el_btn:hover {
  background-color: #3E3E3E;
  color: #FFFFFF;
}

.el_btn__black {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.el_btn__black:hover {
  color: #3E3E3E;
  background-color: #FFFFFF;
  border: 1px solid #707070;
}

.el_btnConversion {
  display: inline-block;
  background-color: #FFAA3B;
  padding: 16px 50px;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
}

.el_btnConversion:hover {
  background-color: #F18900;
}

.el_btnConversion:active {
  background-color: #B2B2B2;
}

/*==================================
ラベル
===================================*/
.el_label span {
  width: 121px;
  display: inline-block;
  color: #3E3E3E;
  font-size: 14px;
  border: 2px solid #3B69FF;
  border-radius: 50px;
  padding: 8px 30px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .el_label span {
    width: 100%;
    font-size: 12px;
    padding: 4px 16px;
  }
}

.el_mandatory {
  display: inline-block;
  position: relative;
}

.el_mandatory::after {
  content: "必須";
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translate(100%, -50%);
  color: #FFFFFF;
  background-color: #FF4646;
  border-radius: 2px;
  font-size: 12px;
  padding: 2px 8px;
  margin-top: -1px;
}

/*==================================
見出し
===================================*/
.el_lv2Heading {
  font-size: 36px;
  font-weight: bold;
  padding-top: 60px;
  padding-bottom: 60px;
  line-height: 1.2;
}

@media screen and (max-width: 767px) {
  .el_lv2Heading {
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.el_lv2Heading__white {
  color: #FFFFFF;
}

/*======================================  
helper
======================================*/
/*==================================
margin
===================================*/
.hp_mt40 {
  margin-top: 40px;
}

.hp_mt32 {
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .hp_mt24Sp {
    margin-top: 24px;
  }
}

@media screen and (max-width: 1199px) {
  .hp_mt32Tab {
    margin-top: 32px;
  }
}

/*==================================
padding
===================================*/
.hp_pt116 {
  padding-top: 116px;
}

.hp_pt120 {
  padding-top: 120px;
}

.hp_pt130 {
  padding-top: 130px;
}

.hp_pt215 {
  padding-top: 215px;
}

.hp_pt256 {
  padding-top: 256px;
}

.hp_pt292 {
  padding-top: 292px;
}

.hp_pt0 {
  padding-top: 0;
}

.hp_pl60 {
  padding-left: 60px;
}

.hp_pb0 {
  padding-bottom: 0;
}

.hp_pb60 {
  padding-bottom: 60px;
}

.hp_pr0 {
  padding-right: 0;
}

.hp_pr40 {
  padding-right: 40px;
}

@media screen and (max-width: 1199px) {
  .hp_pt0Tab {
    padding-top: 0;
  }
}

@media screen and (max-width: 1199px) {
  .hp_pt120Tab {
    padding-top: 120px;
  }
}

@media screen and (max-width: 767px) {
  .hp_pt433Sp {
    padding-top: 433px;
  }
}

@media screen and (max-width: 1199px) {
  .hp_pr0Tab {
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .hp_pl0Sp {
    padding-left: 0;
  }
}

/*==================================
text-align
===================================*/
.hp_tac {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .hp_tacSp {
    text-align: center;
  }
}

/*==================================
background
===================================*/
.hp_bgcSub {
  background-color: #3E3E3E;
}

/*======================================
program
======================================*/
/*==================================
アコーディオン
===================================*/
.js_qa_icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: url(../../img/plus.png) no-repeat center center;
  width: 17px;
  height: 17px;
}

.js_qa_open {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  background: url(../../img/minus.png) no-repeat center center;
  width: 17px;
  height: 17px;
}

/*==================================
ページトップ
===================================*/
.page_top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  display: none;
  z-index: 50;
}

@media screen and (max-width: 767px) {
  .page_top {
    bottom: 16px;
    right: 16px;
  }
}

.page_top a {
  display: inline-block;
  background: url(../../img/totop.png) no-repeat center center;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .page_top a {
    width: 50px;
    height: 50px;
  }
}

/*==================================
ドロワーメニュー
===================================*/
@media screen and (max-width: 767px) {
  .js_drawer_icon {
    position: relative;
    -webkit-transition: ease .5s;
    transition: ease .5s;
  }
  .js_drawer_icon::after {
    content: '';
    position: absolute;
    top: 24px;
    right: 0px;
    background: url(../../img/hamburger.png) no-repeat center center;
    width: 26px;
    height: 20px;
    z-index: 40;
  }
}

.js_drawer_toggle.open .js_drawer_icon::after {
  background: url(../../img/batsu.png) no-repeat center center;
}

.js_drawer_layer.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #3E3E3E;
  opacity: 0.7;
  z-index: 19;
}
